@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
  margin: 0;
  position:relative;
	background-color: #fdfdfd;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: #a5453a;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  font-family: Arial, Helvetica, sans-serif;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
img {
  max-width: 100%;
  height: auto;
}
#maincontent {
  background-color: #f3f3f3;
}
#footer {
  padding: 2.5em;
  background-color: #252831;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
#footer a {
  color: #aaa;
  text-decoration: underline;
}
/* ====================== Navigation ====================== */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 6em;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: 0;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 4em;
  margin: 0;
  padding: 1em;
  list-style: none;
  background-color: #eee;
  box-sizing: border-box;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  content: "/\00a0";
  padding: 1em;
  color: black;
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #006cca;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  width: 100vw;
  height: 25em;  
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  align-items: center;
  width: 100vw;
  padding: 1em;
  background-color: #3a79a5;  
  box-sizing: border-box;
}
.filter-options h2,
.filter-options label {
  padding: 1em 0 0;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;  
}
.filter-options h2 {
  font-size: 1.25rem;
}
.filter-options select {
  display: block;
  width: 100%;
  height: 2em;
  max-width: 15em;
  margin: 1em 0;
  padding: 0 1em;
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  letter-spacing: 0; 
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  margin: 0;
  padding: 1em;
  background-color: #f3f3f3;
  list-style: outside none none;
  text-align: center;
}
#restaurants-list li {
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-width: 100vw;
  background-color: #fff;
  border: 2px solid #ccc;
  text-align: left;
  font-family: Arial,sans-serif;
}
#restaurants-list .restaurant-img {
  display: block;
  margin: 0;
}
#restaurants-list .restaurant-img img {
  background-color: #ccc;
}
#restaurants-list li h1 {
  color: #a5453a;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: .75em 0;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list p:last-of-type {
  margin-bottom: 1.5em;
}
#restaurants-list li a {
  margin-top: auto;
  width: 100%;
  background-color: #a5453a;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  padding: 1em 3em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  transition: background-color .3s;
}
#restaurants-list li a:hover,
#restaurants-list li a:focus {
  background-color: #80352c;
  text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;  
  height: 25em;
  margin-top: 10em;
  width: 100vw;
}
.inside #map {
  background-color: #ccc;
  width: 100vw;
  height: 100%;
}
.inside #footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  box-sizing: border-box;
}
#restaurant-name {
  color: #a5453a;
  font-family: Arial,sans-serif;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 1.5em 0;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-address {
  font-size: 12pt;
  margin: 1em 0;
}
#restaurant-cuisine {
  padding: 1em;
  background-color: #333;
  color: #fff;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 1em;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 1em;
  width: 100vw;
  box-sizing: border-box;
}
#reviews-container {
  padding: 1em;
}
#reviews-container h2 {
  color: #a5453a;
  font-size: 1.75em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0 0 6em;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 1em 0;
  overflow: hidden;
  padding: .5em;
  position: relative;
}
#reviews-list li:first-of-type,
#reviews-list li:last-of-type {
  margin: 0;
}
#reviews-list li p {
  margin: 0 0 1em;
}
#restaurant-hours td {
  color: #666;
}
@media (min-width: 580px) {
  #restaurants-list {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
  }
}
@media (min-width: 980px) {
  #restaurants-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
  }
}